# Node modules and Components.js output
node_modules/
components/

# Error logs

.yarn/
yarn-error.log
componentsjs-error-state.json

# TypeScript compile output

*.js
*.js.map
*.d.ts

# SolidBench data
out-enhanced/
out-fragments/
out-queries/
out-snb/
out-validate/
out-validate-params/
params.ini
